html {
    font-family: Helvetica, Arial, sans-serif;
}

/* Header topbar*/
.header__topbar {
    padding: 20px 0;
    background-color: #3E5167;
}

.header__logo_pic {
    vertical-align: middle;
    height: 35px;
    display: inline-block;
    fill: #FFFFFF;
}

.header__logo_text {
    margin-left: -30px;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    fill: #FFFFFF;
}
.usermenu {
    list-style: none;
    line-height: 35px;
    margin: 0;
}

.usermenu__item {
    display: inline;
    margin: 0 10px;
    color: #AFB8C4;
}

.usermenu__item_button {
    font-size: 20px;
}

.usermenu__item_picture {
    border-radius: 100%;
    height: 36px;
    width: 36px;
}

.usermenu__item_rating {
    font-size: 18px;
    margin: 0;
}

.usermenu__item_icon {
    font-size: 18px;
    margin: 0;
}

/* Header navbar*/
.header__navbar {
    background-color: #1D2534;
}

.main-navbar {
    margin-bottom: 0;
}

.main-navbar__item {
    display: inline-block !important;
}

.main-navbar__item__link {
    text-decoration: none;
    color: #8F98A5;
}

.main-navbar__item__link:hover, 
.main-navbar__item__link:active,
.main-navbar__item__link:focus {
    background-color: #273547 !important;
    text-decoration: none;
    color: #8F98A5;
}

.search {
    padding: 10px 0;
}

.search__input {
   border-right: none;
}

.search__btn {
    border-left: none;
    height: 34px;
}

/* Main content */

.profilecard {
    background-color: #F1F2F4;
    padding-bottom: 80px;
}

.profilecard__header {
    background-color: #49515C;
    background: url(./images/profile-header__background.jpg) center no-repeat;
    background-size: cover;
    min-height: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.profilecard__header_edit {
    background-color: #FFFFFF;
    min-height: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.header__userpic {
    border-radius: 100%;
    width: 140px;
}

.userinfo__body {
    padding-left: 30px;
}

.userinfo__name {
    color: #FFFFFF;
    font-size: 20px;
}

.userinfo__profession {
    color: #FFFFFF;
    font-size: 14px;
    max-width: 400px;
}

.userinfo__location {
    color: #FFFFFF;
    font-size: 13px;
}

.header__edit {
    padding-top: 15px;
}

.button_edit {
    color: #FFFFFF;
    padding: 5px 30px;
    background-color: #008ED0;
    margin-bottom: 10px;
}

.button_add {
    color: #FFFFFF;
    padding: 5px 30px;
    background-color: #69798D;
    margin: 30px;
}

.button_grey {
    color: #FFFFFF;
    padding: 5px;
    background-color: #69798D;
    width: 80px;
}

.button_add-work{
    background-color: #008FD0;
    margin: -15px 0 20px 0;
}

.button__icon{
    padding-right: 5px;
}

.header__contacts {
    background-color: rgba(0,0,0,0.3);
    min-width: 300px;
    width: 300px;
    height: 80px;
    color: #FFFFFF;
    border-radius: 6px;
    text-align: center;
    padding: 15px;
    margin-top: 25px;
    position: relative;
    font-size: 15px;
}

.contacts__rating {
    border-right: 2px solid #484E54; 
    min-width: 100px;
}

.contacts__links {
    list-style: none;
    margin-top: 30px;
    text-align: right;
    font-size: 12px;
}

.contacts__links_item {
    background-color: rgba(0,0,0,0.3);
    display: inline;
    padding: 3px 6px;
    margin-left: 5px;
}

.item__website-icon {
    padding-right: 3px;
}

.rating__trend {
    background-color: #53D700;
    border-radius: 5px;
    padding-left: 5px;
    width: 65px;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
}

.trend__icon {
    display: inline-block;
    float: left;
    line-height: 25px;
    padding-right: 2px;
}

.contacts__followers {
    border-right: 2px solid #484E54;
    min-width: 100px;
}

.trend__value {
    display: inline-block; 
}

.content__section {
    margin-right: -15px;
    margin-left: -15px;
    min-width: 300px;
    margin-top: 20px;
}

/* Content navbar*/

.content__navbar {
    margin-top: 30px;
    color: #A7AFB9;
    text-align: center;
    font-size: 14px;
}

.item_active {
    color: #008ECD;
}

.item__title {
    background: url(./images/content__navbar__separator.png) center no-repeat;
    background-position: 50% 90%;
    padding-bottom: 15px;
    margin: 0;
}

.title_last {
    background: none;
}

.section__title {
    color: #727D90;
    font-size: 20px;
    display: inline;
}

.section__body {
    background-color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    padding: 20px 0 20px 0; 
    margin-top: 15px;
}

.section__body_empty {
    border: 2px dashed #DAE0E6;
}

.section__body_view-work {
    padding: 0;
}

/* for empty block */
.empty-body__icon {
    color: #6B798D;
    font-size: 60px;
    padding: 20px 0 20px 0;
}

.empty-body__text {
    color: #677A8E;
    margin: 0;
    font-size: 16px;
}

.empty-body__comment {
    color: #6C778C;
    padding-top: 5px;
    margin-bottom: 25px;
}

.body__layout {
    background-color: #F1F2F4;
    border: 2px dashed #DAE0E6;
    border-radius: 5px;
    margin: 0 80px;
    padding: 60px 0;
}

.body__layout_view {
    border: 2px solid #DAE0E6;
    background-color: #FFFFFF;
    min-height: 300px;
}

.empty-body__gallery {
    margin-top: 20px;
    
}

.gallery__controller {
    color: #DDE0E5;
    font-size: 25px;
    display: inline-block;
    margin: 0 10px;
    position: relative;
    bottom: 15px;
}

.gallery__controller_view {
    color: #2C98D3;
}

.gallery__item {
    height: 50px;
    width: 70px;
    border-radius: 8px;
    display: inline-block;
    margin: 0 5px;
}

.gallery__item_empty {
    border: 2px dashed #DAE0E6;
}

.gallery__item_view {
    border: 2px solid #DAE0E6;
}

.gallery__item_active {
    border: 3px solid #2C98D3;
}

.gallery__item-name {
    color: #2C98D3;
    font-size: 18px;
}

/* for edit block*/
.section__body_edit {
    border: 1px solid #0093D0;
    box-shadow: 0px 0px 40px #A4ABB8;
}

.edit-body {
    padding: 5px 30px;
}

.edit-body__btn-group {
    margin-top: 15px;
}

.edit-body__btn-group_left {
    text-align: left;
}

.edit-body__btn-group_center {
    text-align: center;
}

.edit-body__btn-group_right {
    text-align: right;
}

.edit-body__btn-group_in-title {
    display: inline;
    float: right;
    margin: 0;
}

.btn-group__item {
    margin: 30px 5px 20px 0;
}

.edit-body__form {
    background-color: #F1F2F4;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: left;
}

.form__title {
    color: #727D90;
    font-size: 15px;
    text-align: left;
    margin: 0;
    padding-bottom: 15px;
    display: inline-block;
}

.form__title_nopadding {
    padding-bottom: 0;
}

.title__subtext {
    color: #9BA6B8;
    display: inline;
    font-size: 16px;
}

.form__title_center {
    text-align: center;
}

.title__btn_edit {
    text-decoration: underline;
    color: #0093D1;
    font-size: 14px;
    float: right;
}

.form__icon_open-close{
    font-size: 22px;
    color: #9BA6B8;
}

.form__text {
    text-align: left;
    color: #808B9D;
}

.form__input-group {
    border-top: 2px solid #E1E7EC;
    padding: 20px 0;
}

.input {
    margin-bottom: 15px
}

.input__main-title {
    color: #727D90;
    font-size: 20px;
    margin: 30px 0 45px 0;
}

.input__link {
    background-size: 15px 15px;
    padding-left: 30px;
    color: #2693D2;
}

.input__link_play-market {
    background: url(./images/links-icons/Play-market.png) 10px 8px no-repeat;
}

.input__link_itunes {
    background: url(./images/links-icons/iTunes.png) 10px 8px no-repeat;
}

.input__link_dribbble {
    background: url(./images/links-icons/Dribbble.png) 10px 8px no-repeat;
}

.input__link_facebook {
    background: url(./images/links-icons/Facebook.png) 10px 8px no-repeat;
}

.input__link_github {
    background: url(./images/links-icons/Github.png) 10px 8px no-repeat;
}

.input__link_google {
    background: url(./images/links-icons/Google.png) 10px 8px no-repeat;
}

.input__link_linkedin {
    background: url(./images/links-icons/Linkedin.png) 10px 8px no-repeat;
}

.input__link_twitter {
    background: url(./images/links-icons/Twitter.png) 10px 8px no-repeat;
}

.input__link_youtube {
    background: url(./images/links-icons/Youtube.png) 10px 8px no-repeat;
}

.input__link_website {
    padding-left: 10px;
}

.input__form-control {
    border-right: none;
}

.input__form-control_company {
    background: url(./images/company__image.png) 3px no-repeat;
    background-size: 25px 25px;
    padding-left: 40px;
    background-color: #FFFFFF;
}

.input__btn {
    border-left: none;
    height: 34px;
}

.input__btn-icon {
    font-size: 16px;
    color: #C6D1D9;
}

.input__title {
    color: #727D90;
    font-size: 14px;
    text-align: left;
    margin: 0;
    padding-bottom: 5px;   
}

.input__title_inline {
    display: inline-block;
    float: left;
}

.textarea__subtext {
    font-size: 10px;
    color: #C7CED5;
}

.input__photo {
    height: 40px;
    width: 40px;
    border: 1px solid #C7CED5;
    padding: 2px;
    margin-right: 10px;
}

.input__photo_circle {
    border-radius: 100%;
}

.input__photo_square {
    border-radius: 8px;
}
.input__calendar {
    margin-top: 20px;
}

.calendar__text {
    color: #8992A5;
    line-height: 34px;
}

.input__checkbox {
    color: #8992A5;
    padding-left: 20px
}

.form__group-objects {
    margin: 10px 0 15px 0;
}

.form__list_inline {
    list-style: none;
    text-align: left;
    padding: 0;
    color: #2092D0;
}

.form__list_inline-center {
    text-align: center;
}

.list__item_roles {
    display: inline;
}

.list__item_roles:after {
    content: ", "
}

.list__item_roles:last-child:after {
    content: ""
}

.form__label {
    text-align: left;
    padding-bottom: 10px;
}

.label__item {
    background-color: #B2BACA;
    padding: 8px 10px;
    font-size: 12px;
    border-radius: 5px;
    line-height: 35px;
}

.label__icon {
    padding-left: 5px;
}

.form__invest-amount {
    text-align: right;
    color: #429BD5;
}

.form__invest-slyder {
    width: 100%;
    border-bottom: 4px solid #DAE0E7;
}

.form__img-group {
    border-top: 2px solid #E1E7EC;
    text-align: left;
    padding-top: 20px;
    margin-top: 20px;
    
}

.img-group__item {
    display: inline-block;
    width: 70px;
    height: 50px;
    margin-right: 10px;
    position: relative;
    z-index: 2;
}

.img-group__icon_delete {
    position: absolute;
    top: -10px;
    left: 55px;
    z-index: 100;
    width: 22px;
    height: 22px;
    background: url(./images/icon_delete.png) center no-repeat;
    background-size: 20px 20px;
}

.img-group__img {
    width: 70px;
    height: 50px;
    overflow: hidden;
    border-radius: 6px;
}

.form__video-links {
    border-top: 2px solid #E1E7EC;
    padding-top: 20px;
    margin-top: 20px;
}

.links__text {
    text-align: left;
    color: #808B9D;
    font-size: 14px;
    padding: 7px 0;
    margin: 0;
}

.button_link {
    text-decoration: underline;
    color: #6C7C8F;
}

.button_save {
    background-color: #51D700;
    width: 80px;
    padding: 5px;
}

/* Media objects */

.form__objects {
    border-top: 2px solid #E1E7EC;
    padding: 20px 0;
}

.company__image {
    border-radius: 10px;
}

.company__name {
    text-align: left;
    font-size: 16px;
    color: #0086CD !important;
}

.company__description {
    text-align: left;
    color: #808B9D;
    font-size: 14px;
    margin: 0;
}

.company__position {
    color: #0086CD;
    text-align: left;
    display: inline;
    float: left;
    font-size: 14px;
}

.company__period {
    float: left;
    padding-left: 10px;
    color: #9BA6B8;
    font-size: 14px;
}

.objects__university {
    text-align: left;
    padding-bottom: 10px;
}

.university__degree {
    color: #0086CD;
    margin: 0;
    font-size: 14px;
}

.university__period {
    color: #9BA6B8;
    font-size: 14px;
}

/* For view blocks*/
.view-body {
    padding: 5px 30px;
}

.view-body_close {
    border-bottom: 1px solid #E1E7EC;
    padding-top: 15px;
}

.view-body_open {
    border-bottom: 1px solid #E1E7EC;
    padding-top: 15px;
}

.view-body__form {
    text-align: left;
}

.view-body__media {
    text-align: left;
}

.media__img {
    border-radius: 100%;
    height: 50px;
    width: 50px;
}

.media__title {
    text-align: left;
    font-size: 16px;
    color: #0086CD !important;
}

.media__text {
    text-align: left;
    color: #808B9D;
    font-size: 14px;
    margin: 0;
}

.media__name {
    color: #0086CD;
    text-align: left;
    display: inline;
    float: left;
    font-size: 14px;
    padding-right: 5px;
}

.view-body__video {
    border-radius: 6px;
}

.view-body_references {
    text-align: left;
    color: #808B9D;
    padding: 10px 30px;
    position: relative;
}

.view-body__quotes_open {
    background: url(./images/quotes_open.png) left no-repeat;
    background-size: 15px 15px;
    position: absolute;
    padding: 10px;
    left: 5px;
}

.view-body__quotes_close {
    background: url(./images/quotes_close.png) left no-repeat;
    background-size: 15px 15px;
    position: absolute;
    padding: 10px;
    right: 0px;
    bottom: 25px;
}

.investing__circle {
    border: 2px solid #D8DFE5;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin: 10px auto;
}

.investing__circle_progress {
    border: 3px solid #FF1C42;
    height: 149px;
    width: 149px;
    border-radius: 100%;
}

.investing__number {
    color: #0075CB;
    font-size: 20px;
    line-height: 150px;
}

.investing__title {
    color: #727D90;
    font-size: 15px;
    margin: 0;
}

/* Additional classes */

.column_border-right {
    border-right: 1px solid #C7CED5
}

.column_border-bottom {
    border-bottom: 1px solid #C7CED5;
    padding-bottom: 20px;
}
/* Footer*/

.footer {
    background-color: #344459;
    padding: 25px 0
}

.footer-logo {
    color: #6A788C;
    line-height: 32px;
}

.logo_pic {
    vertical-align: middle;
    height: 25px;
    display: inline-block;
}

.logo_text {
    margin-left: -20px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
}

.footer-logo__copyright {
    color: #69778B;
    display: inline;
    vertical-align: middle;
    font-size: 11px;

}

.footer-navbar {
    font-size: 14px;
    padding-right: 0px;
}

.footer-navbar__item {
    padding: 0 10px !important;
    text-decoration: underline;
    color: #B3B8CA;
    cursor: pointer;
    line-height: 32px !important;
}

.footer-navbar__item:hover, 
.footer-navbar__item:active,
.footer-navbar__item:focus {
    color: #008CCE;
    background: none !important;
    text-decoration: underline !important;
} 

.item__icon {
    padding: 0 5px !important;
}

.footer-navbar__contacts {
    float: right;
}

/* small screens */
@media (max-width: 995px) {
    .column_border-right {
        border: none;
    }
    
    .header__contacts {
        width: 100%;
    }
}

@media (max-width: 770px) {
    .logo_text {
        margin: 0 auto;
    }
    .usermenu {
        padding: 0;
        text-align: center;
        padding-top: 10px;
    }
    
    .header__logo {
        text-align: center;
    }
        
    .footer {
        text-align: center;
    }
}

@media (max-width: 400px) {
    .gallery__item {
        width: 30px;
        height: 50px;
    }
    
    .edit-body__btn-group {
        float: none;
        display: block;
    }
    
    .btn-group__item_left {
        margin-left: -10px;
    }
    
    .btn-group__item_right {
        float: right 
    }
    
    .edit-body__btn-group_right {
        text-align: left;
    }
    
    .edit-body__btn-group_left {
        text-align: center;
    }
    
    .img-group__item {
        margin-bottom: 10px;
    }
    
    .label__item {
        display: inline-block;
        padding: 0px 5px;
        margin-bottom: 2px;
    }
}